<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625936459596-uc9cu1evgo2femnlmc3o683fv8cb6vn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625936459596-uc9cu1evgo2femnlmc3o683fv8cb6vn2</string>
	<key>API_KEY</key>
	<string>AIzaSyAv72FIrYzrm4nkMW4WiTz8KrUFlEy-9MU</string>
	<key>GCM_SENDER_ID</key>
	<string>625936459596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gorismo.chatAppDemo-Rahul</string>
	<key>PROJECT_ID</key>
	<string>messenger-9c7a5</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-9c7a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625936459596:ios:9af952f4618cd26948d1e9</string>
</dict>
</plist>